@import "../../assets/sass/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  button {
    background-color: $purple-color;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    height: 40px;
    width: 230px;
    border-radius: 5px;
    margin-top: 20px;
    align-self: center;
  }
}
.registration {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 44px;
   gap: 12px;
   a{
       all: unset;
       cursor: pointer;
       margin-left: 4px;
       color: $purple-color;
       font-weight: bold;
   }
   
}
